
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #301d0e;
  color: #f8f2f2;
  text-align: center;
}

.hero {
  background: url('../images/pexels-vanmalidate-784633\ \(2\).jpg') no-repeat center center;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.7);
}

.hero-text h1 {
  font-size: 3.5rem;
  margin: 0;
}
.about {
  text-align: center;
  color: white;
  margin: 2rem 0;
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.video-section video {
  display: block;
  margin: 0 auto;
 
  max-width: 100%;
  border-radius: 12px;
  margin-top: 1rem;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 2px 8px rgb(12, 11, 11);
}
.gallery {
  text-align: center;
  color: white;
  margin: 2rem 0;
}
.social-media {
  text-align: center;
  margin: 1rem 0;
}

.social-media a {
  margin: 0 0.5rem;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  display: inline-block;
  transition: background 0.3s;
}

.social-media .fb { background-color: #3b5998; }
.social-media .ig { background-color: #e1306c; }
.social-media .wa { background-color: #25D366; }

.social-media a:hover {
  opacity: 0.8;
}
.contact {
  color: white;
  text-align: center;
  margin: 2rem 0;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}
